header {
    border-bottom: #7b7b7b 6px solid;
    line-height: 80px;
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
}

body {
    width: 600px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'sans-serif';
    color: #00376c;
}

a {
    color: #00376c;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    text-align: center;
    border-bottom: #7b7b7b 2px solid;
}

h3 {
    color: #1577ff;
    border-bottom: #1577ff 2px solid;
    display: inline;
}

.story {
    padding: 10px 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
    
}

.services {
    padding: 10px 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}

.services p {
    font-style: italic; 
}

.locations {
    padding: 10px 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}

footer {
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
    padding: 10px;
}

footer p {
    font-style: italic;
}

img {
    width: 150px;
}